#wrapper {
  width: 100%;
}

#stages-svg {
  margin: 0 auto;
  display: block;
}

#stages-svg #riders .rider circle {
  stroke: black;
  fill: white;
}
#stages-svg #riders .rider text {
  stroke: none;
  fill: black;
}
#stages-svg #links .link line,
#stages-svg #links .link path {
  stroke: black;
  fill: none;
}
