h1,
text {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

#wrapper {
  width: 100%;
}

#stages-svg {
  margin: 0 auto;
  display: block;
}

#stages-svg #grid rect {
  stroke: #bbb;
  fill: black;
}
#stages-svg #grid line {
  stroke: #bbb;
  fill: none;
}
#stages-svg #grid text {
  stroke: none;
  fill: #bbb;
  font-size: 30px;
}

#stages-svg #riders .rider circle {
  stroke-width: 2;
  fill: none;
}

#stages-svg #riders .rider.rider-as-number text {
  stroke: none;
  fill: black;
}
#stages-svg #riders .rider.rider-as-point circle {
  stroke: black;
  fill: black;
}
#stages-svg #riders .rider.rider-as-point text {
  stroke: none;
  fill: black;
  font-size: 10px;
  text-transform: full-width;
}
#stages-svg #links path {
  stroke: black;
  fill: none;
  stroke-width: 2;
}

#stages-svg #info text.title {
  fill: #333;
  stroke: none;
}
#stages-svg #info line,
#stages-svg #scale line {
  stroke: #bbb;
  stroke-width: 1;
  fill: none;
}
#stages-svg #scale g.tick text {
  fill: #bbb;
  stroke: none;
  font-size: 10px;
}
#stages-svg #info image.profile {
}

#stages-svg .annotation .annotation-connector path,
#stages-svg .annotation .annotation-subject path,
#stages-svg .annotation .annotation-note path {
  fill: none;
  fill-opacity: 0;
  stroke: #eb2e6c;
}
#stages-svg .annotation .annotation-note text {
  fill: #eb2e6c;
  stroke: none;
  font-size: 12px;
}
