#wrapper {
  width: 100%;
}

#stages-svg {
  margin: 0 auto;
  display: block;
}

#stages-svg #riders .rider.rider-as-number circle {
  stroke: black;
  fill: white;
}

#stages-svg #riders .rider.rider-as-number text {
  stroke: none;
  fill: black;
}
#stages-svg #riders .rider.rider-as-point circle {
  stroke: black;
  fill: black;
}
#stages-svg #riders .rider.rider-as-point text {
  stroke: none;
  fill: black;
  font-size: 10px;
  text-transform: full-width;
}
#stages-svg #links .link line,
#stages-svg #links .link path {
  stroke: black;
  fill: none;
}

#stages-svg #info image.profile {
}
